<html>
{% load static %}
{% block head %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        {% block tittle %}{% endblock %}
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
        <link rel="stylesheet" href="{% static 'fonts/fontawesome-all.min.css' %}">
        <link rel="stylesheet" href="{% static 'fonts/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'fonts/fontawesome5-overrides.min.css' %}">
    </head>
{% endblock %}
{% block content %}
    <body class="bg-gradient-primary">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-12 col-xl-10">
                <div class="card shadow-lg o-hidden border-0 my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-flex">
                                <div class="flex-grow-1 bg-login-image"
                                     style="background-image: url(../../../static/img/dogs/image3.jpeg);"></div>
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h4 class="text-dark mb-4">¡Bienvenido!</h4>
                                    </div>

                                    <small class="text-danger">

                                            {% if form.errors %}
                                                {% for field in form %}
                                                    {% if field.errors %}
                                                        {% for error in field.errors %}
                                                            {{ error|escape }}
                                                        {% endfor %}
                                                    {% endif %}
                                                {% endfor %}

                                                {% if form.non_field_errors %}
                                                        {% for error in form.non_field_errors %}
                                                            {{ error|escape }}
                                                        {% endfor %}
                                                    {% endif %}
                                           {% endif %}

                                    </small>
                                    <form class="user" method="POST">
                                        {% csrf_token %}
                                        <div class="mb-3">
                                            <input class="form-control form-control-user" type="text"
                                                                 id="id_username" aria-describedby="emailHelp"
                                                                 placeholder="Ingrese su usuario..." name="username">
                                        </div>
                                        <div class="mb-3">
                                            <input class="form-control form-control-user" type="password"
                                                                 id="id_password" placeholder="Ingrese su password..."
                                                                 name="password"></div>
                                        <div class="mb-3">
                                            <div class="custom-control custom-checkbox small">
                                                <div class="form-check"><input
                                                        class="form-check-input custom-control-input" type="checkbox"
                                                        id="formCheck-1"><label
                                                        class="form-check-label custom-control-label"
                                                        for="formCheck-1">Recuérdame</label></div>
                                            </div>
                                        </div>
                                        <button class="btn btn-primary d-block btn-user w-100"
                                                type="submit">Login
                                        </button>
                                        <hr>
                                    </form>
                                    <div class="text-center"><a class="small" href="forgot-password.html">Perdí mi
                                        contraseña</a></div>
                                    <div class="text-center"><a class="small" href="registrar">Crear una cuenta</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
{% endblock %}
</html>